body {
  color: black;
  font-family: helvetica;
  text-align: center;
}

div.intro {
  color: #145252;
  padding-bottom: 0rem;
  padding-top: 6rem;
}

div.email {
    background-color: #145252;
    color: white;
    padding-bottom: 1rem;
}

div.lead {
  padding: none;
}

h2 {
  border-style: solid;
}

h1 {
  text-align: center;
}

div.desc {
  padding-top: 2rem;
}

input[type=text] {
  width: 25%;
  text-align: center;
  background-color: white;
  border: 2px solid black;
  background-image: url("../Images/EmailLogo.png");
  background-position: 3px 3px;
  background-repeat: no-repeat;
}

input[type=text]:focus {
  background-color: lightblue;
}

input[type=submit] {
  background:black;
  color: white;
  border: 2px solid black;
  border-radius: 4px;
}

nav .active {
  background-color: #4CAF50;
}

div.row{
  padding-bottom: 1rem;
}

.carousel {
  /* width: 70%; */
  margin: 0 auto;
  padding-top: 0rem;
  padding-bottom: 1rem;
}

ul {
  position: fixed;
  top: 1;
  width: 100%;
}

div {
  padding-top: 1rem;
}

hr {
width: 60%;
height: 2px;
margin-right: auto;
margin-left: auto;
margin-top: 5px;
margin-bottom: 5px;
border-width: 2px;
border-color: #145252;
}

div.card {
        position: relative;
        display: inline-block;
    }

div.card .img-top {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }

div.card:hover .img-top {
        padding-top: 1rem;
        display: inline;
    }
